/* Liens

    Examine les liens dans l’exemple Medium => Tu vois comment le CSS change au survol (hover) (background-image: linear-gradient ...) ?
    Ajoute un dégradé linéaire (linear-gradient) sur a, et un autre plus sombre a:hover pour reproduire ces liens.

Conteneur

    Centre-le avec width et margin: 50px auto
    Le conteneur n’est pas encore responsive :
        Remplace width par max-width (mauvaise approche)
        Ajoute des medias queries (bonne approche) */

body {
  text-align: center;
  color: rgb(70, 70, 70);
  font-family: Quicksand;
  margin: 0;
  font-size: 20px;
}

h2 {
  color: rgb(120, 120, 120);
  font-family: Poiret+One;
  font-weight: lighter;
}

.text-align-left {
  text-align: left;
}

a {
  font-size:25px;
  font-style: italic;
  color: rgb(0, 166, 199);
  transition: 0.3s;
  text-decoration: none;
}

a:hover {
  color: rgb(37, 40, 204);
}

.container {
  width: 500px;
  margin: 50px auto;
}

img {
  margin: 0px 0px;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

@media(max-width: 1200px) {
  .container {
    width: 950px;
  }
}
@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 768px) {
  .container {
    width: 500px;
  }
}
@media(max-width: 576px) {
  .container {
    width: 300px;
  }
}
